{% extends 'CalderaDeathBikeBundle::layout.html.twig' %}

{% block title %}Häufig gestellte Fragen zu death.bike{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-12">
        <h1 class="text-center">
            Häufig gestellte Fragen
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <ul class="list-unstyled">

        </ul>
    </div>
</div>
{% endblock %}