<div class="row mt-2">
    <div class="col-6 offset-3">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">
                    Karte
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('list') }}">
                    Liste
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('statistic') }}">
                    Statistiken
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('faq') }}">
                    FAQ
                </a>
            </li>
        </ul>
    </div>
</div>